/* 
 COLOR PALETTE DARK
 #000000
 #212121 
 #303030
 #424242

 COLOR PALETTE WINE
 #ee7272
 #a31818
 #6d0202
 #360000
*/

.pane{
	-fx-background-color:#360000;
}
.list-cell{
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-border-color:transparent;
}
.list-cell:hover{
	-fx-text-fill: white;
	-fx-background-color: #a31818;
}
.list-cell:selected{
	-fx-text-fill: white;
	-fx-background-color: #a31818;
	-fx-border-color:white;
}

.scroll-pane .viewport{
	-fx-background-color: #a31818;
}
.textfield{
}

.text-input{
	-fx-background-color: #360000;
	-fx-text-fill:white;
}

.tab{
	-fx-background-color:#6d0202;
}

.tab-header-background{
	-fx-background-color: #a31818;
}
	
.tab-content-area{
	-fx-background-color:#6d0202;
}

.tab .tab-label{
	-fx-text-fill:white;
}
.button{
	-fx-background-color: transparent;
}

.selectbutton{
	-fx-border-color: white;
	-fx-cursor: hand;
	-fx-text-fill: white;
}
.selectbutton:hover{
	-fx-background-color: #a31818;
}

.progress-indicator{
	-fx-progress-color: white;
}

.combo-box {
	-fx-background-color: #360000;
}

.combo-box .cell{
	-fx-text-fill: white;
}
.combo-box-popup .list-view .list-cell{
    -fx-background-color: #360000;
}
.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}